{% extends 'posts/base.html' %}

{% block content %}
    {% load static %}

    <div class="jumbotron jumbotron-fluid text-center" style="margin-bottom:0">
        <img src="{% static 'images/logo-ikigai-01.svg' %}" alt="">
        <p>El lugar que buscabas</p>

    </div>

    <!--Nosotros -->
    <div class="container-fluid seccion" id="nosotros">
        <div class="row">
            <div class="col-sm-6">
                <h2>Nosotros</h2>
                <p>Somos Centro Ikigai, un espacio creado para todos aquellos terapeutas complementarios o profesionales que necesiten un lugar para atender a sus pacientes. Nuestro equipo ha creado este centro, ocupándose de cada uno de sus detalles para lograr un espacio armónico, moderno y muy bien equipado, en donde puedas atender a tus pacientes con el más alto estándar de calidad.</p>
            </div>
            <div class="col-sm-6">
                <!--Carousel-->
                <!-- The slideshow -->
                <div id="demo" class="carousel slideanim slide" data-ride="carousel">

                    <!-- The slideshow -->
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{% static 'images/slide/couching1-crop-u2690.jpg' %}" alt="Los Angeles">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'images/slide/couching2-crop-u2692.jpg' %}" alt="Chicago">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'images/slide/reiki1-crop-u2694.jpg' %}" alt="New York">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'images/slide/reiki2-crop-u2688.jpg' %}" alt="New York">
                        </div>
                    </div>

                </div>
                <!--Carousel-end-->
            </div>
        </div>
    </div>
    <!--Fin Nosotros -->

    <!-- Servicios -->
    <div class="text-center container-fluid seccion" id="servicios">
        <h2>Servicios</h2>
        <p>Te invitamos a ser parte de nuestro mundo Ikigai. Imposible no enamorarte de cada uno de los detalles que tenemos disponible para ti.</p>
        <br>

        <div class="row slideanim service-item">

            <div class="col-sm-4">
                <i class="fas fa-couch fa-2x logo-small"></i>
                <h4>EQUIPAMIENTO</h4>
                <p>Mobiliario nuevo y de vanguardia</p>
            </div>

            <div class="col-sm-4">
                <i class="fas fa-building fa-2x logo-small"></i>
                <h4>INFRAESTRUCTURA</h4>
                <p>Instalaciones modernas</p>
            </div>

            <div class="col-sm-4">
                <i class="fab fa-pagelines fa-2x logo-small"></i>
                <h4>AMBIENTE</h4>
                <p>Creado para entrar en un ambiente totalmente armónico de paz y buenas energías</p>
            </div>

        </div>

        <div class="row slideanim service-item">

            <div class="col-sm-4">
                <i class="fas fa-mobile-alt fa-2x logo-small"></i>

                <h4>ACCESIBILIDAD</h4>
                <p>Facilidad para reservar tu box desde celulares o pc</p>
            </div>

            <div class="col-sm-4">
                <i class="fas fa-wifi fa-2x logo-small"></i>
                <h4>WI-FI</h4>
                <p>Wifi disponible y gratis</p>
            </div>

            <div class="col-sm-4">
                <i class="fas fa-door-open fa-2x logo-small"></i>
                <h4 style="color:#303030;">ACCESO</h4>
                <p>Acceso personalizado mediante clave en cerradura digital, lo que te permite una mayor independencia</p>
            </div>

        </div>

        <div class="row slideanim service-item">

            <div class="col-sm-4">
                <i class="fas fa-hand-holding-usd fa-2x logo-small"></i>
                <h4 style="color:#303030;">VALORES</h4>
                <p>Valores de mercado</p>
            </div>

            <div class="col-sm-4">
                <i class="fas fa-door-open fa-2x logo-small"></i>
                <h4 style="color:#303030;">PROMOCIONES</h4>
                <p>Acceso a promociones y mas beneficios para terapeutas socios</p>
            </div>

            <div class="col-sm-4">
                <i class="fas fa-hands-helping fa-2x logo-small"></i>
                <h4 style="color:#303030;">ADAPTABILIDAD</h4>
                <p>Disponibilidad de implementos para profesionalizar tu atención, como balanza, camillas, pizarra, cafeteras, nos adaptamos a tus necesidades</p>
            </div>


        </div>
    </div>
    <!--Fin Servicios -->

    <!--Box-->
    <div class="container-fluid text-center" id="box">

        <h2>Box</h2><br>
        <h4>What we have created</h4>
        <div class="row boxes text-center slideanim">
            {% if box %}
                {% for b in box %}
                    <div class="flip-card col-xs-12 col-sm-6 col-md-4" onclick="this.classList.toggle('flip');">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">

                                <img src="{{ b.imagen.url }}" alt="box" style="width:100%;height:300px;">
                                <div class="container">
                                    <h4><b>{{ b.nombre }}</b></h4>
                                </div>
                            </div>
                            <div class="flip-card-back">
                                <h1>{{ b.nombre }}</h1>
                                <p>Equipamiento</p>
                                <p>{{ b.equipamiento }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>Error</p>
            {% endif %}
        </div>
    </div>
    <!--Fin Box-->

    <!--Valores-->
    <div id="valores" class="container-fluid bg-grey seccion">

        <div class="text-center">
            <h2>Valores</h2>
            <h4>Terminos y Condiciones, Lea detenidamente estas condiciones antes de acceder a usar los servicios. aquí</h4>
        </div>

        <div class="row justify-content-center slideanim">

            <div class="col-xs-12 col-sm-3">
                <div class="panel panel-default text-center">

                    <div class="panel-heading">
                        <h5>PRECIOS DE ARRIENDO POR HORA:</h5>
                    </div>

                    <div class="panel-body">
                        <p><strong>Mañana: (8am - 2pm)</strong></p>
                        <p>DESDE</p>
                        <p><strong>$5.400</strong></p>
                        <p><strong>Tarde: (2pm - 9 pm)</strong></p>
                        <p>DESDE</p>
                        <p><strong>$6.000</strong></p>
                        <p>* Valores IVA incluído.</p>
                    </div>

                </div>
            </div>

            <div class="col-xs-12 col-sm-4">
                <div class="panel panel-default text-center">

                    <div class="panel-heading">
                        <h5>PRECIOS DE ARRIENDO POR PAQUETE:</h5>
                    </div>
                    <div class="row">
                        <div class="col-md-6 panels">
                            <p><strong>10 hrs. AM</strong></p>
                            <p>(AHORRO $10.800)</p>
                            <p><strong>$43.200</strong></p>
                            <p><strong>10 hrs. PM</strong></p>
                            <p>(AHORRO $12.000)</p>
                            <p><strong>$48.000</strong></p>
                        </div>

                        <div class="col-md-6 panels">
                            <p><strong>20 hrs. AM</strong></p>
                            <p>(AHORRO $32.400)</p>
                            <p><strong>$75.200</strong></p>
                            <p><strong>20 hrs. PM</strong></p>
                            <p>(AHORRO $36.000)</p>
                            <p><strong>$84.000</strong></p>

                        </div>
                    </div>
                    <p>* Valores IVA incluído.</p>
                </div>
            </div>

        </div>

    </div>
    <!--Fin Valores-->

    <!--Donde Estamos-->
    <div id="ubicacion" class="text-center seccion">
        <h2>¿Dónde Estamos?</h2>
        <p>Metro Manuel Montt, Doctor Barros Borgoño 160, oficina 603, Providencia, Santiago.</p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d372.3544840752147!2d-70.61946754401356!3d-33.433002936630814!2m3!1f0!2f39.202847431683516!3f0!3m2!1i1024!2i768!4f35!3m3!1m2!1s0x9662cf7cd3e8af49%3A0x8a9d99ba969a4c42!2sDr+Manuel+Barros+Borgo%C3%B1o+160%2C+Providencia%2C+Regi%C3%B3n+Metropolitana!5e1!3m2!1ses-419!2scl!4v1563565099259!5m2!1ses-419!2scl" height="500" frameborder="0" style="width:100%"></iframe>
    </div>
    <!--Fin Donde Estamos-->


    <!--Contacto-->
    <div id="contacto" class="container-fluid bg-grey seccion">
        <h2 class="text-center">Contacto</h2>
        <div class="row">

            <div class="col-md-6">
                <p>Si desea más información sobre reservas, servicios o funcionamiento de nuestro sistema de reservas, escríbenos o llámanos y responderemos sus consultas rápidamente.</p>
                <p><i class="fas fa-phone-square"></i>+56 2 3248 3019</p>
                <p><i class="fas fa-mobile-alt"></i>+56 9 6142 0889</p>
                <div>
                    <p><i class="fas fa-at"></i>contacto@centroikigai.cl</p>
                </div>
            </div>

            <form class="col-md-6" action="post" onsubmit="return valida_contacto()">

                <div class="slideanim">

                    <div class="row">

                        <div class="col-sm-6 form-group">
                            <input class="form-control" id="nombre" name="nombre" placeholder="Nombre" type="text">
                            <div class="alert alert-warning collapse" id="valnombre"></div>

                            <div class="alert alert-warning alert-dismissible collapse" id=“valnombre”>
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a></div>
                        </div>

                        <div class="col-sm-6 form-group">
                            <input type="email" class="form-control" id="correo" name="correo" placeholder="Correo Electronico">
                            <div class="alert alert-warning collapse" id="valcorreo"></div>
                        </div>

                    </div>

                    <textarea class="form-control" id="mensaje" name="mensaje" placeholder="Mensaje" rows="5"></textarea>
                    <div class="alert alert-warning collapse" id="valmensaje"></div><br>

                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <button class="btn btn-default pull-right" type="submit">Enviar</button>
                        </div>
                    </div>

                </div>

            </form>
        </div>
    </div>
    <!--Fin Contacto-->

{% endblock %}