*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    background-image: linear-gradient(to top, #4645a1, #4844aa, #4b42b2, #4e40bb, #523ec3);
}

.jumbotron {
    background-image: linear-gradient(to top, #8e9dec, #8694e9, #7d8ce6, #7583e2, #6d7adf, #6873e0, #636ce1, #5e65e2, #5d5ee7, #5d55ec, #5f4cf1, #6341f4);
    color: #fff;
    padding: 30px 25px;
    border-radius: 0;
}

.seccion{
    padding: 15px 15px 15px 15px;
    font-family: 'Quicksand', sans-serif;
}

#nosotros{
    font-size: 17px;
    text-align: justify;
}

#servicios{
}

.logo-small {
    color: blue;
    font-size: 40px;
}

/*Slide*/
.slideshow {
    position: relative;
}

.slideshow img {
    position: absolute;
    width: 100%;
    height: 450px;
}
/*Fin Slide*/

/*Social*/
.social p a i{
    padding: 0 5px 0 0;
}
/*Fin Social*/

.boxes{
    margin: 0 auto;
}

/* Box Flip Cards*/
.flip-card {
    margin: 15px 0 15px 0;
    height: 350px;
    perspective: 2500px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}


.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card-front img{
    border-radius: 10px 10px 0 0;
}

.flip-card-front {
    color: black;
}

.flip-card-front .container h4{
    margin: 0;
    padding: 5px;
}

.flip-card-back {
    padding-top: 40px;
    background: linear-gradient(0deg, rgba(35,38,153,1) 0%, rgba(35,81,168,1) 35%, rgba(143,148,247,1) 100%);
    color: white;
    transform: rotateY(180deg);
}
/*Fin Box Flip Cards*/

/*Valores*/
.panel{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.panel-heading{
    background: linear-gradient(0deg, rgba(98,51,172,1) 32%, rgba(163,143,247,1) 100%);
    height: 70px;
    padding: 20px;
    color: white;
    align-items: center;
}

.panel-heading h5{
    font-size: 15px;
    margin: 0;
}

.panel-body, .panels{
    padding: 10px 0 0 0;
}

.valor{
    color: #D0A90B;
    font-size: 25px;
    font-weight: bold;
}

.horario{
    font-weight: bold;
    font-size: 16px;
}

.inf{
    font-size: 13px;
}
/*Fin Valores*/

/*Contacto*/
p i {
    font-size: 20px;
    padding: 0 5px 0 0;
}
/*Fin Contacto*/

.footer{
    text-align: center;
    padding:10px;
    color: white;
    width: 100%;
}

.alert{
    margin: 3px;
}

/*Animation*/
.slideanim {visibility:hidden;}
.slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide;
    /* The duration of the animation */
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
    /* Make the element visible */
    visibility: visible;
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(10%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(10%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
