* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
}

.navbar {
    background: linear-gradient(180deg, rgba(75,43,177,1) 0%, rgba(82,55,214,1) 100%);
}

.jumbotron {
    background: linear-gradient(180deg, rgba(75,43,177,1) 0%, rgba(122,143,242,1) 100%);
    color: #fff;
    margin-bottom:0
}

.seccion {
    padding: 60px 30px 15px 30px;
    font-family: 'Quicksand', sans-serif;
}

.title{
    font-family: 'Oswald', sans-serif;
    color: #686868;
}

#nosotros {
    font-size: 19px;
    text-align: justify;
}

#servicios h4{
}

#servicios h4{
    font-size: 2vmax;
}

.logo-small {
    color: #6341f4;
    font-size: 30px;
}

/*Slide*/
.carousel img {
    width: 100%;
}

/*--------------------------------------------------------------------------------------------------------------------*/

/*Social*/
.social p a i {
    padding: 0 5px 0 0;
}
/*--------------------------------------------------------------------------------------------------------------------*/

/*Valores*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    -webkit-overflow-scrolling: touch;
    max-height: calc(100vh - 170px);
    overflow-y: auto;
    background-color: #fefefe;
    margin: auto;
    padding: 40px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */

#myBtn {
    color: cornflowerblue;
}

#myBtn:hover {
    text-decoration: underline;
    cursor: pointer;
}

.panel {
    margin: 10px;
    border-radius: 10px;
    -webkit-transition: .5s;
    transition: .5s;
}

.panel:hover{
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}

.panel-heading {
    padding: 15px;
    color: white;
    align-items: center;
    background: linear-gradient(180deg, rgba(62,94,190,1) 0%, rgba(80,150,173,1) 65%);
    -webkit-transform: skewY(-0.7deg) scale(1);
    transform: skewY(-0.7deg) scale(1);
}

.panel-heading h5 {
    font-size: 15px;
    font-weight: bold;
    margin: 0;
}

.panel-heading i {
    padding-top: 15px;
    font-size: 40px;
    color: #fff;
}

.panel-body {
    padding-top: 10px;
}

.valor {
    color: #D0A90B;
    font-size: 25px;
    font-weight: bold;
}

.horario {
    font-weight: bold;
    font-size: 18px;
}

.inf {
    font-size: 13px;
}
/*--------------------------------------------------------------------------------------------------------------------*/

/*Contacto*/
p i {
    font-size: 20px;
    padding: 0 5px 0 0;
}
/*--------------------------------------------------------------------------------------------------------------------*/

.footer {
    text-align: center;
    padding: 10px;
    color: white;
    width: 100%;
}

.alert {
    top: 3px;
    font-size: 2vh;
    width: fit-content;
}

/*Animation*/
.slideanim {
    visibility: hidden;
}

.slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide;
    /* The duration of the animation */
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
    /* Make the element visible */
    visibility: visible;
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(10%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(10%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
/*--------------------------------------------------------------------------------------------------------------------*/